@import "./styles/navbar.css";
@import "./styles/signupin.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

#root {
  height: 100vh;
  width: 100vw;
}

@layer utilities {
  .custom-gradient-top {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  }

  .custom-gradient-bottom {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
  }
}
